body {
    background-color: #51b3af;
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

.container {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom:0;
}

#h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}

#h1 {
    font-size:30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    color: #4aaaa5;
}

h2, h3 {
    font-size: 22px;
    color: #4aaaa5;
}

nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    border-bottom: 1px solid #dfdfdf;
}

nav.navbar-nav {
    float:right;
    
}

.navbarNavAltMarkup {
    float:right;    
}



.logo{
    background-color: #4aaaa5;
    color: #fff;
    font-size: 25px;
    height: 100%;
    margin-left: 12.25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
}

#main-container {
    padding-top: 130px;

}

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
   
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

.sidebar {
    background: #fff;
    padding: 30px;
    width: 300px;
    max-width: 300px;
    float: right;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:last-child {
    margin-right: 0;
}

footer {
    background: #666;
    color: #fff;
    padding: 10px 0;
    clear:both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;     
 }

 /*contact*/

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}